<h1 class="text-center">Add a vehicle to
    <%= @dealership.name() %>
</h1>

<div class="container-fluid">
<li class="list-group-item">
    <img class="center-block img-responsive" style="max-height:300px" src="https://media.giphy.com/media/X5quY9aOi0cJa/giphy.gif
"></li>
</div>

<div class="text-center">
<form action="/vehicles" method="post">
    <input id='dealership_id' name='dealership_id' type='hidden' value='<%= @dealership.id() %>'>
    <label for='make'>Vehicle's make:</label>
    <input id='make' name='make' type='text'>
    <br>
    <label for='model'>Vehicle's model:</label>
    <input id='model' name='model' type='text'>
    <br>
    <label for='year'>Vehicle's year:</label>
    <input id='year' name='year' type='number'>
    <br>
    <label for='color'>Vehicle's color:</label>
    <input id='color' name='color' type='text'>
    <br>
    <button class="btn btn-info btn-cons" type="submit">Add Vehicle</button>
</form>
</div>

<form action="/">
<button class="btn btn-primary center-block">
    Return to Main Page
</button>
</form>
