<div class="container-fluid">
<li class="list-group-item">
    <img class="center-block img-responsive" style="max-height:300px" src="https://media.giphy.com/media/X5quY9aOi0cJa/giphy.gif
"></li>
</div>

<h1 class="text-center">Information Updated</h1>

<form action="/vehicles">
    <button class="btn btn-info center-block">
        See Vehicle List
    </button>
</form>

<form action="/dealerships">
    <button class="btn btn-info center-block">
        See Dealer List
    </button>
</form>
